extends users_template 
block content 
    div( class="meter-search" style="float: right; color: red")
        form(method="GET" action='/admin/meters/search')
            input(type="text" placeholder="enter meter info: room, ip, slaveId .." name="search_info" style="width: 300px" )
            
            input(type= "submit" value="Search" style= "" )
    div(class="all-meters")
        if meters    
            each meter in meters 
                div(class="meter-item" )
                    ul 
                        li Modbus Gateway IP Addresss:  #{meter.ip_address} 
                        li Slave ID:  #{meter.slaveId} 
                        li Room:  #{meter.room} 
                        if status[meter.info]
                            li(style="font-weight: bold") status: #{status[meter.info]}
                        else 
                            li(style="color:red; font-weight:bold") status: not connected
                    
                        li
                            p 
                                a(href='/admin/meter/'+meter._id+'/delete') Delete Meter
                        if meter.user 
                            li connect to: #{meter.user.email}
                        else 
                            li(style="color: red") not connect to any user
                        li 
                            input(type= "date")
                            label(for="") Number of data 
                            input(type= 'number')
                            button(class="add-data") Add Data  
                    
        else 
            p not any meter available
        
    script().
        var search = !{JSON.stringify(search)}
        if (typeof search == undefined) {search= ''}
        document.querySelector('input[type=text').value= `${search}`
        var buttons= document.getElementsByClassName("add-data")
        console.log(buttons)
        for(let button of buttons){
            button.addEventListener('click', function(e){
                var parent= e.target.parentNode.parentNode
                console.log(parent)
                console.log(parent.children[0].innerText.split(":")[1].trim())
                
                console.log(parent.children[1].innerText.split(":")[1])
                //body.ip,body.slaveId, body.date, body.n
                var ip= parent.children[0].innerText.split(":")[1].trim()
                var slaveId= parent.children[1].innerText.split(":")[1].trim()
                console.log(typeof slaveId)
                var numberSlaveId= Number(slaveId)
                console.log(typeof numberSlaveId)
                console.log(numberSlaveId)
                var date=this.parentNode.children[0].value
                var n= this.parentNode.children[2].value
                if (!date || !n) return
                var data= {ip: ip, slaveId: numberSlaveId, date: date, n: n}
                console.log(data);
                fetch('/admin/add_records', {
                    method: 'post',
                    headers: {
                    'content-type':'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response=> response.json())
                .then(text=> console.log(text))
                
            })
        }
       
